<div class="jumbotron">

        <h1> Contact List </h1>
        <p> Manager your contacts in local </p>
        <p> 
            <%= link_to 'Crie sua conta', "#", class: 'btn btn-primary btn-lg' %> 
        </p>
</div>