<h1>Novo Contato</h1>

<%= form_for @contact do |form| %>
<%= render 'form', form: form %>
<%= form.submit 'Salvar', class: 'btn btn-info' %>

<%= link_to 'Back', contacts_path, class:'btn btn-warning' %>
<% end %>
